body{
    background-color: darkslateblue;
    padding: 0;
    margin: 0;
    
}
body:hover{
    background-color: rgb(26, 22, 50);
    transition: 1s;
    
}


h1{
    color: white;
    text-align: center;
    
}



label{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    position: relative;
    left: 400px;
    top: 55px;
    
}
input{
    position: relative;
    left: 900px;
    width: 200px;
    padding: 15px;
    background-color: dodgerblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 4px rgba(129, 129, 129, 0.285);
    
}
input:hover{
    background-color: black;
    color: white;
    transition: 1s;
}
